@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
}

.content-titles{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-ppal-style{
  font-size: 3rem;
  color: #cb9f44;
  margin: 0;
}

.subtitles-style{
  font-size: 2rem;
  color: #cb9f44;
  margin: 0;
}

.separator-style{
  max-width: 4rem;
  margin-bottom: 30px;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


/*HEADER SECTION */
.header-section{
  height: 6rem;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  background-color: #181818;
  border-bottom: 1px solid #cb9f44;
  padding: 10px;
}

.subcontent-header{
  width: 75.625rem;
  display: flex;
  justify-content: space-between;
}

.logo img{
  width: 4.25rem;
  height: 4.25rem;
}


.content-nav{
  display: flex;
  align-items: center;
}


ul li{
  display: inline;
  padding: 10px 25px;
}


li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

li a:hover{
  color: #cb9f44;
}


li a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #cb9f44;
  top: 100%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}


li a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}


@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
    100%{
      left:0;
      right:auto;
      width: 100%;
    }
  }


  @keyframes out{
    0%{
      width:100%;
      left: auto;
      right: 0;
    }
    100%{
      width: 0;
      left: auto;
      right: 0;
    }
  }


  @keyframes show{
    0%{
      opacity:0;
      transform:translateY(-10px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }



  /* HERO SECTION */
  .hero-section{
    background-image: url("./assets/images/hero-image.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    min-height: 32.5rem;
  }

  .header-section-mobile{
    display: none;
  }


  /* ABOUT SECTION */
  .about-section{
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    padding: 50px 10px;
  }


  .about-section p{
    font-size: 1rem;
    font-style: italic;
    margin: 10px 0px 0px 0px;
  }

  
  /* SERVICES SECTION */
  .services-section{
    background-color: rgba(203,159,68,.46);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
  }


  .hers-service-content{
    padding-top: 50px;
  }

 .grid-images{
    display: grid;
    grid-template: 1fr  / repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    border: 1px solid #cb9f44;
 }

 .grid-images-mobile{
    display: none;
 }


.sub-grid-images{
  display: grid;
  grid-template: 1fr / 1fr;
  gap: 10px;
}


.item-1{
  width: 24.375rem;
  background-image: url(./assets/images/model-man.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.50rem;
  color: transparent;
  cursor: pointer;
}


.item-1-mobile{
  display: none;
}


.item-2{
  min-height: 18.1rem;
  background-image: url(./assets/images/barber-man.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.50rem;
  color: transparent;
  cursor: pointer;
}


.item-3{
  min-height: 18.1rem;
  background-image: url(./assets/images/corte-man.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.50rem;
  color: transparent;
  cursor: pointer;
}

.item-4{
  width: 24.375rem;
  background-image: url(./assets/images/exfolation-man.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.50rem;
  color: transparent;
  cursor: pointer;
}



.item-5{
  width: 24.375rem;
  background-image: url(./assets/images/model-women.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.50rem;
  color: transparent;
  cursor: pointer;
}


.item-6{
  min-height: 11.875rem;
  background-image: url(./assets/images/peinados-specials-women.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.50rem;
  color: transparent;
  cursor: pointer;
}


.item-7{
  min-height: 11.875rem;
  background-image: url(./assets/images/color-women.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.50rem;
  color: transparent;
  cursor: pointer;
}


.item-8{
  min-height: 11.875rem;
  background-image: url(./assets/images/corte-women.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.50rem;
  color: transparent;
  cursor: pointer;
}


.item-9{
  max-width: 24.375rem;
  min-height: 18.125rem;
  background-image: url(./assets/images/manicure-pedicure.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.50rem;
  color: transparent;
  cursor: pointer;
}


.item-10{
  max-width: 24.375rem;
  min-height: 18.125rem;
  background-image: url(./assets/images/depilacion.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.50rem;
  color: transparent;
  cursor: pointer;
}


.hover-style:hover{
  background-color: rgba(0, 0, 0, 0.30);
  background-blend-mode: hard-light;
  transition: 2s ease background-color;
  color: #fff;
  text-shadow: 0 0 1px #000, -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: 1.5s ease color;
}


/* FOOTER SECTION */
.footer-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/images/background-service-specials.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 50px 10px;
}


.team-section{
  width: 75.625rem;
  padding-bottom: 50px;
}


.content-team{
  display: grid;
  grid-template: 1fr / repeat(5, 1fr);
  justify-content: center;
  gap: 10px;
}


.content-team-mobile{
  display: none;
}

.cards{
  min-height: 26.875rem;
  display: grid;
  grid-template: 3fr / 1fr;
  justify-items: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 0 1px #000, -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.cards:hover{
 cursor: pointer;
 padding-bottom: 10px;
 padding-top: 25px;
 transition: .4s ease padding;
 border: 1px solid #cb9f44;
}


.cards h3,p{
  margin: 0;
}


.line{
  background-color: #fafafa;
  width: 68.75rem;
  min-height: 1px;
}

.contact-section{
  width: 75.625rem;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}


.box{
  min-height: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  border: 1px solid #cb9f44;
  border-radius: 10px;
  padding: 10px;
}

.color-icon{
  color: #cb9f44;
}

.box h5{
  margin: 0;
}

.box:hover{
  cursor: pointer;
}


.copyright{
  max-width: 100%;
  min-height: 5rem;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.copyright h5{
  margin: 0;
}
 

/* MEDIA QUERIES */

@media only screen and (min-width: 700px) and (max-width: 850px){
  
  /*HERO SECTION*/
  .hero-section{
    min-height: 25rem;
    background-image: url("./assets/images/hero-image-tablet.png");
    background-position: center left;
  }
}



@media only screen and (min-width: 700px) and (max-width: 1200px){

  .title-ppal-style{
    font-size: 2.5rem;
  }

  .subtitles-style{
    font-size: 1.5rem;
  }

  .separator-style{
    margin-bottom: 10px;
  }


  /*HEADER SECTION */
  .subcontent-header{
    width: 45.625rem;
  }

  ul li{
    padding: 10px;
  }


  /* ABOUT SECTION */
  .about-section{
   padding: 30px 10px;
  }
  
  .about-section p{
    font-size: 0.71rem;
  }


  /* SERVICES SECTION */
  .services-section{
    padding: 30px 10px;
  }

  .hers-service-content{
    padding-top: 30px;
  }

  .item-1, .item-4, .item-5{
    width: 14.375rem;
  }
  
  .item-2, .item-3{
    min-height: 12.5rem;
  }
  
  .item-6, .item-7, .item-8{
    min-height: 8.3125rem;
  }
  
  .item-9, .item-10{
    width: 14.375rem;
    min-height: 12.5rem;
  }
   
  .text-style{
    background-color: rgba(0, 0, 0, 0.30);
    background-blend-mode: hard-light;
    color: #fafafa;
    font-size: 1.1rem;
    text-shadow: 0 0 1px #000, -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }


/* FOOTER SECTION */
.footer-section{
 padding: 30px 10px;
}

.team-section{
  width: 45.625rem;
  padding-bottom: 30px;
}

.content-team{
  display: grid;
  grid-template: 1fr / repeat(5, 1fr);
  justify-content: center;
  gap: 10px;
}

.cards{
  min-height: 16.25rem;
  display: grid;
  grid-template: 3fr / 1fr;
  justify-items: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 0 1px #000, -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.cards img{
  width: 7.5rem;
  border: 3px solid #cb9f44;
}

.cards h3{
  font-size: 0.9rem;
}

.cards p{
  font-size: 0.8rem;
}


.line{
  width: 41rem;
}

.contact-section{
  width: 42.625rem;
  padding-top: 30px;
}


.box{
  min-height: 6.25rem;
}

.box h5{
  font-size: 0.8rem;
}

.box p{
  font-size: 0.6rem;
}

}

@media only screen and (min-width: 300px) and (max-width: 700px){
  
  .title-ppal-style{
    font-size: 2rem;
  }

  .subtitles-style{
    font-size: 1.5rem;
  }

  .separator-style{
    margin-bottom: 10px;
  }


  /*HEADER SECTION */
  .header-section{
    display: none;
  }

   
  /*HERO SECTION*/
  .hero-section{
    min-height: 31.25rem;
    background-image: url("./assets/images/hero-image-mobile.png");
    background-position: center left;
  }

  .header-section-mobile{
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    background-color: #181818;
    opacity: 0.95;
    padding: 10px;
    border-bottom: 1px solid #cb9f44;
  }

  .subcontent-header-mobile{
    width: 100%;
    display: block;
  }

  #navigation{
    display: flex;
    justify-content: space-around;
  }

  .logo-mobile-style{
    width: 5rem;
    height: 5rem;
  }

  .content-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .control-menu{
    min-height: 80px;
    display: flex;
    align-items: center;
  }

  .nav-items{
    display: grid;
    justify-items: end;
    margin: 0;
  }

  .nav-items li{
    padding: 0;
  }

  li a:hover{
    color: #fff;
  }

  li a::before{
    background: #181818;
  }

  /*EFECTO MENU*/
  .nav-items{
    height: 0;
    overflow: hidden;
  }

  #navigation:target .nav-items{
    height: 15.8rem;
  }

  /*Al hacer click sobre el enlace que abre el menú éste desaparece*/
  .close{
    display: none;
  }

  #navigation:target .open{
    display: none;
  }
  
  /*Al hacer click sobre el enlace que abre el menú aparece el enlace .close que previamente estaba oculto*/
  #navigation:target .close{
    display: block;
  }

  /*El menú cambia su altura y su color de fondo mediante una transición suavizada al abrirse*/
  #navigation:target .nav-items{
    background: transparent none repeat scroll 0 0;
    height: 15.8rem;
    transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s;
  }

  /*El menú cambia su altura y su color de fondo mediante una transición suavizada al volver a su estado inicial*/
  ul.nav-items{
    clear: both;
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;
  }
  

  /*ABOUT SECTION*/
  .about-section p{
    font-size: 0.95rem;
    text-align: center;
  }


 /* SERVICES SECTION */
 .grid-images{
    display: none;
 }

 .grid-images-mobile{
  display: grid;
  grid-template: 1fr / 1fr;
  gap: 25px;
  padding: 20px;
  border: 3px solid #cb9f44
 }

 .item-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .text-style{
  color: #fafafa;
  text-shadow: 0 0 1px #000, -1px -1px 0 #000,  1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
 }

 .text-style h3{
  margin-top: 5px;
 }


 /* FOOTER SECTION */
 .footer-section{
  background-image: url("./assets/images/background-service-specials-mobile.png");
  padding: 30px 0px;
 }

 .team-section{
  max-width: 23.125rem;
  padding-bottom: 30px;
 }

 .content-team{
  display: none;
 }

 .content-team-mobile{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
 }

 .cards{
  min-height: 11.875rem;
 }

 .cards img{
  border-radius: 50%;
  border: 5px double #cb9f44;
 }

 .line{
  background-color: #fafafa;
  width: 22.75rem;
  min-height: 1px;
 }

 .contact-section{
  max-width: 18.75rem;
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 30px;
 }

 .box{
  width: 100%;
 }
}

@media only screen and (min-width: 300px) and (max-width: 1200px){
    /* FOOTER SECTION */
    .cards:hover{
      padding: 0;
      border: 0;
      transition: none;
    }
}